
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

a.card, a.card:hover, .add-blog-icon, .add-blog-icon:hover {
    color: inherit;
    text-decoration: none;
}

.add-blog-icon, .add-blog-icon:hover {
    font-size: 4.5em;
}
